<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if message %}
    <p>{{message}}</p>
    {% endif %}
    
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <h1>Signup</h1>

    <form form method="POST" action="/signup">
        <label for="name"> Enter your Name</label>
        <input type="text" name="name">
        <label for="DOB"> Enter your Date of Birth</label>
        <input type="date" name="DOB">
        <label for="email">Enter your email</label>
        <input type="email" name="email">
        <label for="password"> Enter your password </label>
        <input type="password" name="password">

        <input type="submit" value="Signup">
    </form>

    <a href="/">Back</a>
</body>
</html>